<% if (post.link){ %>
  <h1 class="thumb" itemprop="name">
    <a class="<%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
  </h1>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h1 class="thumb bb" itemprop="name">
      <a class="text-gradient-a <%= class_name %>" href="<%- url_for(post.path) %>">
        <span class="t1"><%= post.title %></span>
        <span class="t2 text-gradient">
          <span>
            <%= post.title %>
          </span>
        </span>
      </a>
      <!-- <%= date(post.date, 'YYYY-MM-DD') %> -->
    </h1>
  <% } else { %>
    <h1 class="thumb" class="<%= class_name %>" itemprop="name">
      <%= post.title %>
    </h1>
  <% } %>
<% } %>