<%- partial('_partial/head') %>
<%- partial('_partial/jsHelper') %>

<% if (is_post()){ %>
  <body data-spy="scroll" data-target="#toc" data-offset="50" id="cbody">
      <div id="iCenter"></div>
<% } else {%>
  <body>
<% } %>
  <div class="fixbackground"></div>
  <%- partial('_partial/header-post', null, {cache: !config.relative_link}) %>

  <div id="container">
    <div id="wrap">
            
      <div id="content" class="outer">
        <% if (!is_post()){ %>
          <input type="text" class="search-mobile form-control search-form-submit" placeholder="搜索...">
        <% } %>
        <% if (theme.sidebar && theme.sidebar !== 'bottom' && !is_post()){ %>
          <section id="main"><%- body %></section>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } else {%>
          <section id="main" style="float:none;"><%- body %></section>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <!-- <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %> -->
    <%- partial('_partial/after-footer') %>
  </div>

  <a id="rocket" href="#top" class=""></a>
  <script type="text/javascript" src="/js/totop.js" async=""></script>
  <!-- 飞鸟动画背景 -->
  <!-- <script src="/js/three.min.js"></script>
  <script src="/js/vanta.birds.min.js"></script>
  <script>
    const effect = VANTA.BIRDS({
      el: "#container",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      backgroundColor: 0xffffff,
      birdSize: 0.50,
      wingSpan: 15.00,
      speedLimit: 2.00,
      separation: 100.00,
      alignment: 48.00,
      cohesion: 41.00,
      quantity: 3.00
    })
  </script> -->
  <!-- 获取日期星期 实时时间 -->
  <script>
    var week = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
    var now = new Date();
    var year = now.getFullYear();
    var month = now.getMonth() + 1;
    var day = now.getDate();
    var weekDay = now.getDay();
    $("#dateTxt").text(year + "年" + month + "月" + day + "日");
    $("#weekTxt").text( week[weekDay]);
    
    var timeArr = [
      "夜深了，早点休息",  // 清晨5：00-6：00、
      "早起的鸟儿有虫吃", // 早晨6：00-8：00、
      "一年之计在于晨",// 上午8:00—11:00、
      "上午好",// 中午11:00—13:00、
      "中午好",// 下午13:00—17:00、
      "傍晚好",// 傍晚17:00—18:00、
      "晚上好",// 晚上18:00—24:00
      ];
    var greeting = '';
    
    function getNowTime(){
      var curDate = new Date();
      var hour = curDate.getHours();
      var minute = curDate.getMinutes();
      var second = curDate.getSeconds();
      switch(true){
        case hour >= 0 && hour < 5:
          greeting = timeArr[0];
          break;
        case hour >= 5 && hour < 8:
          greeting = timeArr[1];
          break;
        case hour >= 8 && hour < 11:
          greeting = timeArr[2];
          break;
        case hour >= 11 && hour < 13:
          greeting = timeArr[3];
          break;
        case hour >= 13 && hour < 17:
          greeting = timeArr[4];
          break;
        case hour >= 17 && hour < 18:
          greeting = timeArr[5];
          break;
        case hour >= 18 && hour <= 23:
          greeting = timeArr[6];
          break;
      }
      hour =  hour<10?'0'+hour:hour;
      minute =  minute<10?'0'+minute:minute;
      second =  second<10?'0'+second:second;

      $("#timeShow").text(greeting+" "+hour+":"+minute+":"+second);
    }
    getNowTime();
    setInterval(getNowTime,1000);
  </script>

  <!-- 获取位置和才是编码（有时候不准） -->
  <!-- <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>  -->

  <!-- 获根据城市编码取天气 --> 
  <!-- <script type="text/javascript">
    if(returnCitySN && returnCitySN['cid']){
      $.ajax({
        url: "https://restapi.amap.com/v3/weather/weatherInfo",
        type: 'get',
        data: {
          key: '36f8f876aea61ff0f4a7fc18fada0ab8',
          city: returnCitySN['cid'],
        },
        dataType: 'json',
        success:function(data){
          if(data &&  data.status=="1"){
            var lives = data.lives[0];
            $("#cityName").text(lives.city);
            $("#weatherTxt").text(lives.weather);
            $("#temperature").text(lives.temperature+"°");
            $("#winddirection").text(lives.winddirection+"风");
            $("#windpower").text(lives.windpower+"级");
          }
        }
      })
    }
  </script> -->
</body>
</html>
